@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
*,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --filter-color: invert(100%) sepia(100%) saturate(2%) hue-rotate(37deg)
    brightness(113%) contrast(101%);
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.left-side {
  height: 100vh;
  grid-column: 1;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  background-color: rgb(47, 87, 100);
  font-family: "Poppins", sans-serif;
  color: white;
}
.left-side ul {
  list-style-type: none;
  font-size: large;
}
.title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: start;
  align-content: start;
}
.title .logo img {
  height: 50px;
  filter: var(--filter-color);
}
.title .logo-txt {
  display: grid;
  align-content: center;
  font-size: x-large;
}
.left-side .menu-bar ul li,
.left-side .settings-bar ul li {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.left-side .menu-bar ul li img,
.left-side .settings-bar ul li img {
  height: 40px;
  filter: var(--filter-color);
}
.left-side .menu-bar ul li:hover,
.left-side .settings-bar ul li:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* RIGHT SIDE */
.right-side {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  font-family: "roboto", sans-serif;
}
.right-side header {
  background-color: rgb(202, 202, 207);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 20px 50px;
}
.upper-left {
  display: flex;
  gap: 10px;
  align-items: start;
}
.search-icon {
  height: 30px;
}
.search-bar {
  background-color: rgb(182, 176, 176);
  border: none;
  border-radius: 10px;
  height: 30px;
  min-width: 70%;
  padding: 0px 10px;
  color: rgb(0, 0, 0);
}
.search-bar:focus-visible {
  outline: none;
}
.lower-left {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 5px;
}
.lower-left img {
  height: 80px;
}
.upper-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.notification {
  justify-self: end;
}
.notification img {
  height: 30px;
}
.profile {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 20px;
}
.profile img {
  height: 50px;
}
.lower-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.lower-right input {
  height: max-content;
  width: min-content;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: rgb(15, 133, 212);
  color: white;
  font-size: medium;
}
.lower-right input:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
